body, div { padding:0px; margin:0px; border:0px; }

input, select { border:1px solid [COLOR_A7]; background-color:[COLOR_A9]; } 

a, a:visited, .wd_alink  { 
  text-decoration:none; 
  background-image: url([IMGF:wd_lnk_http.gif:0,0,0|COLOR_BLACK]);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 11px;
}

.wd_amail { 
  text-decoration:none; 
/*
  background-image: url([IMGF:wd_lnk_mailto.gif:0,0,0|COLOR_BLACK]);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 11px;
*/
}

.small_button { border:0px; cursor:pointer; vertical-align:baseline }
.app { 
    background-color:[COLOR_WHITE]; 
    padding-left:5px; 
    padding-right:5px; 
    border:1px solid [COLOR_WHITE]; 
    cursor:pointer; }
.app_selected { font-weight:bold;  border:1px solid [COLOR_WHITE]; cursor:pointer; }
.app_over { background-color:[COLOR_A8]; padding-left:5px; padding-right:5px; border:1px inset [COLOR_A8]; cursor:pointer; }

.wdhead { font-weight:bold; border-width:1px; border-style:none none solid none; border-color:[COLOR_A8];  }
.wdtitle { border-width:1px; border-style:none none dotted none; border-color:[COLOR_A8];  }
#wdtitle td span, #wdtitle td img { vertical-align: middle; }
.wdmenu { 
  border-style:none solid none none; 
  border-color:[COLOR_A8];
  border-width:1px;
  position:absolute;
  width:auto;
  padding: 0px;
}
#inmenu {
  background-repeat: no-repeat;
  background-position: left top; 
}

.wdmenufixed { 
  border-style:none solid none none; border-color:[COLOR_A8]; border-width:1px;
  width:auto;
  float:left;
}
#wdbody iframe {
  width:100%;
}
.wdcols { 
  empty-cells: show; 
  vertical-align:top; 
  border-style:none; 
  padding:0px; 
  border-width:0px;
}

.wdsvc { 
  padding : 0px 4px 4px 4px;
  border:1px solid [COLOR_A7];
  background-color:[COLOR_A9]; 
  margin: 3px 3px 1px 1px; 
  -moz-border-radius:5px;
 }

.wdsvc_title { 
  background-color:[COLOR_A9]; 
  border-style:none; 
  border-color:[COLOR_A6]; 
  border-width:0px; 
  font-weight:bold; 
  vertical-align:bottom; 
}
.wdsvc_title td  { background-color:[COLOR_A9]!important; }
.wdsvc_content { 
  background-color:[COLOR_WHITE]; 
  padding:0px 2px 0px 5px; 
  border-width:1px; 
  border-style: solid; 
  border-color:[COLOR_A5];  
}
.wdsvc_warning { font-style:italic; }

.wdparamb { padding:2px; margin:2px; border-color:[COLOR_A7]; border-style: solid; border-width:1px; width:auto }

.wdbuttonb { text-align:right; border-top:1px solid [COLOR_A7]; margin: 5px 0px 5px 0px;                                        }
.wdtitleb  { text-align:center; font-weight:bold; border-bottom:1px solid [COLOR_A7]; margin: 5px 0px 10px 0px;  }
.wdtitleb1 { text-align:left; border-bottom:1px solid [COLOR_A7]; border-bottom:1px solid [COLOR_A7]; margin: 5px 0px 5px 0px;  }

.wdpnumber {
  color:[COLOR_A9];
  background-color:[COLOR_A6];
  border:1px solid [COLOR_A0]; 
  padding : 0px 3px 0px 3px; 
} 
  
.wdsvcghost {
  border : 1px dotted [COLOR_C0];
  background-color:[COLOR_C8]; 
}

TABLE.transparent TBODY TR TD,TABLE.transparent TBODY TR {  
  background-color:transparent;
  padding:0px;
}
