.wdsvc {
    border:1px solid [COLOR_A9];
    border-radius : 3px;
    padding:0px;
}
.wdsvc_title {
    border-radius : 3px 3px 0px 0px;
    border:1px solid [COLOR_A9];
    border-bottom-color: [COLOR_A8];
    background-color: [COLOR_A9];
    background-color:[COLOR_A9];
    background-image: url('STYLE/MODERN/Images/tabvig.png');
    background-repeat: repeat-x;
}
.wdtitleb button {
    border-radius : 3px;
    padding:3px;
}
a.wd-rss-link {
    font-size:120%;
}
.ui-icon {
    width:10px;
    height:10px;
    border:0px;
    padding:0px 3px 0px 0px;
    margin:0px;
    background-repeat : no-repeat;
}
.ui-icon-pin-s {
    background-image : url([IMGF:wd_svc_hide.gif:0,0,0|COLOR_BLACK]);
}
.ui-icon-close {
    background-image : url([IMGF:wd_svc_delete.gif:0,0,0|COLOR_BLACK]);
}
.ui-icon-refresh {
    background-image : url([IMGF:wd_svc_reload.gif:0,0,0|COLOR_BLACK]);
}
.ui-icon-wrench {
    background-image : url([IMGF:wd_svc_edit.gif:0,0,0|COLOR_BLACK]);
}
#editsvc_c, .wdsvc_edit .ui-dialog-buttonpane {
    border:1px solid [COLOR_A9];
    border-radius : 3px 3px 0px 0px;
    padding:10px;
    background-color : [COLOR_WHITE];
}
.wdsvc_edit .ui-dialog-buttonpane {
    border-radius : 0px 0px 3px 3px;
}
.wdsvc_edit .ui-dialog-buttonset {
    text-align:right;
}
.wdsvc_edit .ui-dialog-buttonset button {
    border-radius : 3px;
    padding:3px;
}
