body, div { padding:0px; margin:0px; border:0px; }

input, select { border:1px solid [COLOR_A7]; background-color:[COLOR_A9]; } 


a, a:visited, .wd_alink  { 
  text-decoration:none; 
  background-image: url([IMGF:wd_lnk_http.gif:0,0,0|COLOR_BLACK]);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 11px;
}


.small_button { border:0px; cursor:pointer; vertical-align:baseline }
.app { 
    background-color: [COLOR_WHITE];
    padding:5px 10px 3px 10px; 
    border-width:0px 0px 0px 10px;
    border-style:solid;
    border-color:[COLOR_A8] [COLOR_A5] [COLOR_A5] [COLOR_A8];
    cursor:pointer; 
}
.app_selected { 
    background-image:url([IMG:menu_on.png]); 
    background-color: [COLOR_C9];
    border-color:[COLOR_B4]; 
    cursor:pointer; 
}
.app_over { 
    border-color:[COLOR_A5] [COLOR_A8] [COLOR_A8] [COLOR_C5]; 
    background-image:url([IMG:menu_off.png]); 
    background-repeat: repeat-x
    background-position: top right;
    background-color: [COLOR_C9];
}
hr.separator { 
    margin:0;
    padding:0;
    border-style:1px inset [COLOR_WHITE];
}

.wdhead { 
    background-image: url([IMG:bg-main.png]);
    background-position: bottom right;
    background-repeat: repeat-x;
    border-style:none;
}
#wdtitle { vertical-align:middle; height:2.5em;}
#wdtitle table tr td { font-family:Trebuchet MS,Verdana,sans; color:#555; border-style:none; padding:0; margin:0; }
#wdtitle td span, #wdtitle td img { vertical-align: middle; }
#wdtitle form.bform { padding:0 10px 0 10px; }
#wdtitle input[type="text"] { 
   border-width:1px;
   border-color:#555 #CCC #CCC #555;
   background-color:#fcffff;
   background-image: url([IMG:magnifier.png]);
   background-position: right center;
   background-repeat: no-repeat;
   font-size:80%; 
   width:75%;
}
#wdtitle td.appzone { width:20%; text-align:left;}
img.appbar_button {
  cursor:pointer;
  height:[SIZE_IMG-X-SMALL];
  border-style : none;
}
#wdtitle td.appbar { width:30%; text-align:center;}
#wdtitle td.search { width:30%; text-align:right;}
#wdtitle input.setter { color:#555; }
#wdtitle input.unsetter { color:#CCC;  }
#wdtitle td.user {  text-align:right; }
#wdtitle span.name { padding:0 10px 0 10px; }
#wdtitle span.logos { cursor:pointer; padding:0 10px 0 10px; }
#wdtitle span.logos > img { padding:0 3px 0 0; }

img#appmenu_ico  { width:12px; }

#wdmenu { 
    position:absolute;
    background-color:[COLOR_WHITE];
    padding:5px;
    border:1px solid [COLOR_A8]; 
}
#wdmenu.clipsed { 
    padding:0;
    border-style:none solid none none; 
    border-color:[COLOR_A6]; 
    border-width:1px;
    background-color:[COLOR_A9];
}
#inmenu > div > img { padding-right:10px; }

#wdcmdtext {
    padding:0px;
    cursor:pointer; 
    text-align:center; 
    background-color:[COLOR_C6];
    height:10px;
}
#wdmenu.clipsed #wdcmdtext {  margin-left:0px; }


#ctxappmenu {
    background-color:[COLOR_WHITE]; 
    margin:0px; 
    padding:5px; 
    position:absolute; 
    left:0px; 
    top:0px; 
    display:none;
}
#ctxappmenu  { border:1px solid [COLOR_A7]; }
#ctxappmenu > div { padding:5px 10px; }
#ctxappmenu > div > img#appmenu_ico { width:24px; padding-right:10px; }
#ctxappmenu > div > span#appmenu_title { vertical-align:middle ; font-weight:bold; }
#ctxappmenu > .app { border-left:1px; }


#wdbody iframe {
  width:100%;
}
.wdcols { 
  empty-cells: show; 
  vertical-align:top; 
  border-style:none; 
  padding:0px; 
  border-width:0px;
}

.wdsvc { 
  padding : 0px 2px 2px 2px;
  border:1px solid [COLOR_A7];
  background-color:[COLOR_A9]; 
  margin: 3px 3px 1px 1px; 
  -moz-border-radius:5px 5px 0px 0px;
 }

.wdsvc_title { 
  background-color:[COLOR_A9]; 
  border-style:none; 
  border-color:[COLOR_A6]; 
  border-width:0px; 
  font-weight:bold; 
  vertical-align:bottom; 
}
.wdsvc_title td  { background-color:[COLOR_A9]!important; }
.wdsvc_content { 
  background-color:[COLOR_WHITE]; 
  padding:0px 0px 0px 0px; 
  border-width:1px; 
  border-style: solid; 
  border-color:[COLOR_A5];  
}
.wdsvc_warning { font-style:italic; }

.wdparamb { padding:2px; margin:2px; border-color:[COLOR_A7]; border-style: solid; border-width:1px; width:auto }

.wdbuttonb { text-align:right; border-top:1px solid [COLOR_A7]; margin: 5px 0px 5px 0px;                                        }
.wdtitleb  { text-align:center; font-weight:bold; border-bottom:1px solid [COLOR_A7]; margin: 5px 0px 10px 0px;  }
.wdtitleb1 { text-align:left; border-bottom:1px solid [COLOR_A7]; border-bottom:1px solid [COLOR_A7]; margin: 5px 0px 5px 0px;  }

.wdaddp {
  font-weight:normal;
  font-size: 90%; 
  color : [COLOR_A5];
  cursor : pointer;
}
.wdpnumber {
  cursor : pointer;
  font-weight:normal;
  font-size: 90%; 
  padding:0px 5px 0px 5px;
  background-color:[COLOR_A9]; 
  border:1px solid [COLOR_A5]; 
  margin : 0px 0px 0px 1px; 
  padding : 0px 3px 0px 3px; 
  -moz-border-radius:0px 10px 0px 0px;
} 
  
.wdsvcghost {
  border : 1px dotted [COLOR_C0];
  background-color:[COLOR_C8]; 
}

TABLE.transparent TBODY TR TD,TABLE.transparent TBODY TR {  
  background-color:transparent;
  padding:0px;
}


#trace {
  font-size: 90%; 
  font-weight:bold; 
  cursor:pointer; 
  background-color:[COLOR_A9]; 
  color:[COLOR_A5]; 
  font-weight:bold; 
  border:1px solid [COLOR_A2];
  padding : 5px;
  position:fixed; 
  top:-10px; 
  left:10px; 
  height:20px;
}

#maintenance {
  font-weight: bold;
  background-color: red;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}
