//FAM;dossier(DIR);<specid>;<fldid>;titre;
ORDER;DIR;;;ba_title;
DOC;DIR;$familyDFLID;;$familyDFLID;
;;;;;
//;Father ;Title;Id;Classe;Logical Name
BEGIN;;$familyTitle;;;$familyName
ICON;$familyIcon;;;;
DFLDID;$familyDFLID;;;;
END;;;;;
